@import "../../styles/variables";

.btnReset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Img {
  height: 100vh;
  background-image: url(../../img/aut-bg.jpg);
  background-repeat: repeat;
}

.Content {
  width: 712px;
  margin: auto;
  padding: 60px;
}

.contentRegWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.contentText {
  margin-top: $margin-24;
  margin-bottom: 56px;
  font-family: $font-family-MinSans;
  font-weight: $regular-font-weight;
  font-size: $base-font-size;
  line-height: 27px;
  text-align: center;
  color: $black-color;
  opacity: 0.6;

  &Gray {
    margin: 0;
    color: #585858;
    opacity: 1;
  }

  &End {
    text-align: start;
    margin-bottom: 0;
    margin-top: 16px;
    max-width: 592px;
    font-size: 16px;
  }
}

.contentReg {
  font-family: $font-family-MinSans;
  font-weight: $bold-font-weight;
  font-size: $base-font-size;
  line-height: 27px;
  color: $purpul-color;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.contentTitle {
  font-family: $font-family-Unbounded;
  font-weight: $bold-font-weight;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  text-align: center;
  color: $black-color;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin-bottom: 80px;
  font-family: $font-family-MinSans;
  font-weight: $bold-font-weight;
  font-size: 42px;
  line-height: 27px;
  color: $black-color;
}