$font-family-MinSans: 'Min Sans', sans-serif;
$font-family-Unbounded: 'Unbounded', sans-serif;
$h1-line-height: 60px;
$h1-font-size: 48px;
$base-font-size: 20px;
$regular-font-weight: 400;
$bold-font-weight: 500;
$black-color: #15181c;
$white-color: #fbfbfb;
$purpul-color: #5d21d0;
$red-color: #d02121;
$green-color: #10a674;
$margin-24: 24px;
$margin-32: 32px;
$margin-48: 48px;
$margin-88: 88px;
