@import "../../styles/variables";

.contentTitle {
  font-family: $font-family-Unbounded;
  font-weight: $bold-font-weight;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  text-align: center;
  color: $black-color;
}